.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

body {
  padding-top: 20px;
  background-color: #eee; }

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 190px;
  padding: 10px 20px;
  box-shadow: 3px 3px 10px #777;
  background-color: #444;
  color: #efefef;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0; }
  .header .site-title {
    font-size: 24px; }
  .header .subtitle {
    font-size: 14px; }

.sidebar {
  z-index: 1;
  position: fixed;
  top: 80px;
  left: 0;
  padding: 10px;
  background-color: #ccc;
  width: 210px;
  min-height: 300px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 3px 10px #777; }
  .sidebar hr {
    border: none;
    border-top: 1px dotted #999; }
  .sidebar .current-status {
    margin-top: 10px; }
  .sidebar .add-section h4 {
    margin-bottom: 7px; }
  .sidebar .add-section select {
    width: 100%; }
  .sidebar .add-section button {
    width: 100%; }
    .sidebar .add-section button i {
      font-size: 16px; }

.content {
  width: 700px;
  margin-left: 270px; }
  .content .step .step-actions {
    width: 400px;
    margin: 0 auto; }
    .content .step .step-actions button.next {
      float: right; }
  .content .step-1 .site-description {
    font-size: 16px; }
  .content .step-2 .sections {
    padding: 20px 0 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .content .step-2 .sections .drop-target {
      border: 2px dashed #ccc; }
    .content .step-2 .sections .section {
      position: relative;
      margin: 10px 0px;
      width: 100%;
      cursor: pointer; }
      .content .step-2 .sections .section:hover .title .action-delete, .content .step-2 .sections .section:hover .title .drag-to-reorder {
        display: inline; }
      .content .step-2 .sections .section.editing {
        cursor: auto; }
        .content .step-2 .sections .section.editing .title input {
          display: inline; }
        .content .step-2 .sections .section.editing .title .title-content {
          display: none; }
        .content .step-2 .sections .section.editing .section-content .view {
          display: none; }
        .content .step-2 .sections .section.editing .section-content .edit {
          display: block; }
      .content .step-2 .sections .section .title {
        font-weight: bold;
        font-size: 18px;
        padding: 5px 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        color: #444;
        border-bottom: 1px solid #444; }
        .content .step-2 .sections .section .title input {
          display: none;
          width: 400px; }
        .content .step-2 .sections .section .title .drag-to-reorder {
          font-size: 12px;
          font-weight: normal;
          position: absolute;
          top: 10px;
          right: 30px;
          display: none; }
        .content .step-2 .sections .section .title .action-delete {
          position: absolute;
          top: 10px;
          right: 10px;
          display: none; }
        .content .step-2 .sections .section .title.editable {
          cursor: pointer; }
          .content .step-2 .sections .section .title.editable i {
            font-size: 16px;
            height: 15px;
            display: inline; }
          .content .step-2 .sections .section .title.editable.editing .title-content {
            display: none; }
          .content .step-2 .sections .section .title.editable.editing i {
            display: none; }
          .content .step-2 .sections .section .title.editable.editing input {
            display: inline; }
      .content .step-2 .sections .section .section-content {
        padding: 10px 0;
        font-family: "Times New Roman", serif;
        font-size: 15px; }
        .content .step-2 .sections .section .section-content .edit {
          display: none; }
          .content .step-2 .sections .section .section-content .edit .body textarea {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            margin: 0 auto;
            min-height: 150px; }
          .content .step-2 .sections .section .section-content .edit .done-editing {
            text-align: right;
            margin-top: 10px; }

textarea.huge {
  width: 95%;
  height: 400px; }
